.avatar-root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.avatar-circle-container {
  aspect-ratio: auto 0.65;
  height: 100%;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
  transform-style: preserve-3d;
}

.avatar-circle-background {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: #90caf9;
  border-radius: 50%;
}

.avatar-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: 50% bottom;
  margin: 0;
  opacity: 0;
}

.avatar-image.loaded {
  transition-property: opacity;
  transition-duration: 500ms;
  transition-timing-function: linear;
  opacity: 1;
}
